{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <hr>
            <hr>
            <hr>
            {% if wishlist.count %}
                {% if wishlist.count == 1 %}
                <p class="text-muted">You have {{ wishlist.count }} item in your Wishlist</p>
                {% else %}
                <p class="text-muted">You have {{ wishlist.count }} items in your Wishlist</p>
                {% endif %}
            {% else %}
                <p class="text-muted">You have 0 items in your Wishlist</p>
                <br>
                {% for product in wishlist %}
                <h5 class="logo-font mb-4">1{{ wishlist.products.name }}</h5>
                <h5 class="logo-font mb-4">2{{ wishlist.product.name }}</h5>
                <h5 class="logo-font mb-4">3{{ product.name }}</h5>
                <h5 class="logo-font mb-4">4{{ products.name }}</h5>
                <h5 class="logo-font mb-4">5{{ name }}</h5>
                <h5 class="logo-font mb-4">6{{ product }}</h5>
                <h5 class="logo-font mb-4">7{{ wishlist.name }}</h5>
                <h5 class="logo-font mb-4">8{{ wishlists.name }}</h5>
                <h5 class="logo-font mb-4">9{{ product.products.price }}</h5>
                <h5 class="logo-font mb-4">10{{ product.product.price }}</h5>
                <h5 class="logo-font mb-4">11{{ products.product.price }}</h5>
                <h5 class="logo-font mb-4">12{{ products.product.price }}</h5>
                {% endfor %}
                <p>Take a look at our 
                    <a href="{% url 'products' %}"><strong>products page</strong></a>
                </p>
            {% endif %}
            <hr>
            <hr>
            {% for product in wishlist %}
            <h5 class="logo-font mb-4">1{{ wishlist.products.name }}</h5>
            <h5 class="logo-font mb-4">2{{ wishlist.product.name }}</h5>
            <h5 class="logo-font mb-4">3{{ product.name }}</h5>
            <h5 class="logo-font mb-4">4{{ products.name }}</h5>
            <h5 class="logo-font mb-4">5{{ name }}</h5>
            <h5 class="logo-font mb-4">6{{ product }}</h5>
            <h5 class="logo-font mb-4">7{{ wishlist.name }}</h5>
            <h5 class="logo-font mb-4">8{{ wishlists.name }}</h5>
            <h5 class="logo-font mb-4">9{{ product.products.price }}</h5>
            <h5 class="logo-font mb-4">10{{ product.product.price }}</h5>
            <h5 class="logo-font mb-4">11{{ products.product.price }}</h5>
            <h5 class="logo-font mb-4">12{{ products.product.price }}</h5>
            {% endfor %}
        </div>
    </div>
</div>

<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}