<!-- <div class="overlay"></div> -->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Reviews</h2>
        </div>
    </div>
</div> -->


<!-- trial review section -->
<!-- <div class="container-fluid">
    <div class="row"> -->
        <!-- add review section -->
        <div class="col-12 col-md-6 col-lg-5 text-center mt-3">
            <h5 class="text-muted">Add a Review</h5>
            <hr class="w-75 mx-auto">
            <form method="POST" action="{% url 'add_review' product.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right">
                    <button class="btn btn-black rounded-0" type="submit">Add Review</button>
                </div>
            </form>
        </div>
    <!-- </div>
</div> -->

<!-- back to top button -->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>

<!-- need to add js back for button to work -->